.places {
    max-width: 984px;
    width: calc(100% - 2*148px);
    margin: 0 auto;
    padding-top: 92px;
}

@media (max-width: 1000px) {
    .places {
        padding-top: 88px;
    }
}


@media (max-width: 1024px) {
    .places {
        width: calc(100% - 2*48px);
    }
}

@media (max-width: 768px) {
    .places {
        width: calc(100% - 2*24px);
    }
}


@media (max-width: 425px) {
    .places {
        width: 100%;
        padding-top: 64px;
    }
}