.place {
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto;
    margin: 0 auto 80px;
    max-width: 984px;
}

.place:last-child {
    margin-bottom: 0;
}

@media (max-width: 1100px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
        max-width: 928px;
    }
}

@media (max-width: 1000px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        max-width: 720px;
        margin-bottom: 73px;
    }
}

@media (max-width: 720px) {
    .place {
        grid-template-columns: 1fr;
        row-gap: 32px;
        max-width: 320px;
        margin-bottom: 50px;
    }
}